<div class="col-sm-6 center-block">
  <h2>USER LOGIN FORM</h2>
  <form [formGroup]="myreactiveForm" (ngSubmit)="onSubmit()">
     
      <div class="form-group">
          <label for="email">Customer Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span class="form-text form-danger w-100"
              *ngIf="!myreactiveForm.get('email').valid && myreactiveForm.get('email').touched">Please Enter valid
              email</span>
      </div>
      <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <span class="w-100 tex-danger mt-3"
              *ngIf="!myreactiveForm.get('password').valid && myreactiveForm.get('password').touched">Password should
              have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number</span>
      </div>
      <div class="row">
          <div class="col-sm-6">
      <button type="submit" class="btn btn-info">LOGIN</button>
  </div>
  <div class="col-sm-3">
      <button type="submit" class="btn btn-info" routerLink="/forgot-pwd" routerLinkActive="active">FORGOT PASSWORD</button>
  </div>
  <div class="col-sm-3">
      <button type="submit" class="btn btn-info" routerLink="/usersignup"  routerLinkActive="active">SIGNUP</button>
  </div>

  </div>
  </form>
</div>