<div class="col-sm-6 center-block">
    <h2>FORGOT PASSWORD</h2>
    <form [formGroup]="myreactiveForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Customer Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span class="form-text form-danger w-100" *ngIf="!myreactiveForm.get('email').valid && myreactiveForm.get('email').touched">Please Enter valid email</span>
        </div>
        <span *ngIf="forgotkey===1">EMAIL SEND SUCCESFULLY</span>

        <div class="row">
            <div class="col-sm-6">
        <button type="submit" class="btn btn-info">FORGOT PASSWORD</button>
        <button type="submit" class="btn btn-info" routerLink="/recover-password" routerLinkActive="active">Recover PASSWORD</button>
    </div>
    </div>
    </form>
</div>